{{#partial "content"}}
<div>
 <img src="https://gitlab.com/yaniMihaylov/firstproject/raw/master/marriage-relationships-laptop-contract-marriage-ceremonies-wedding-mbcn2658_low.jpg" alt="terms" width="80%" height="85%">
 </div>
 <br>
 <a href="/sign-up/"><p style="text-align:center;">Back to registration</p></a>

{{/partial}}

{{> base.hbs}}